out/
src/FindIO/Features/Visual Concept/model_imagenet.mat
src/FindIO/index/
src/FindIO/Datasets/train/data
.idea/workspace.xml
src/FindIO/Features/Visual Word/ScSPM/siftfeature/
src/FindIO/Features/Visual Concept/queryList.txt
src/FindIO/Features/Visual Word/ScSPM/cacheSiftPooling/
src/FindIO/cache/colorHistCache/segments.gen
src/FindIO/cache/
